*.code-workspace
programs/S4A16/S4A_InstallAutoClicker/build
programs/S4A16/S4A_InstallAutoClicker/S4A_InstallAutoClicker.spec

programs/CH340_driver/CH340_InstallAutoClicker/build
programs/CH340_driver/CH340_InstallAutoClicker/CH340_InstallAutoClicker.spec